@model SerranaLogCargas.Models.State;

@{
    ViewData["Title"] = "Estados";
}

<h2>@ViewData["Title"]</h2>
<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acronym);
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acronym);
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name);
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name);
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Retornar</a>
</form>