@model SerranaLogCargas.Models.LoadScheduling

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoadScheduling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnloadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnloadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weigth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTranspor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTranspor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlContract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vladvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vladvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
