@model LogCargas.Models.LoadScheduling

@{
    ViewData["Title"] = "Carregamento";
}

<h1>Detalhes</h1>
<h4>@ViewData["Title"]</h4>
<div>
    <h4>LoadScheduling</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncludeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CorporateReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityOrigin.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityDestiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityDestiny.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnloadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnloadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weigth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTranspor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTranspor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlContract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vladvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vladvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Retornar</a>
</div>
