@model LogCargas.Models.ViewModels.LoadSchedulingFormViewModel

@{
    ViewData["Title"] = "Carregamento";
}

<h1>Editar</h1>
<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="LoadScheduling.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayFor(model => model.LoadScheduling.Id)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LoadScheduling.Bol" /> @Html.DisplayNameFor(model => model.LoadScheduling.Bol)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.CustomerId" class="control-label"></label>
                <select asp-for="LoadScheduling.CustomerId" asp-items="@(new SelectList(Model.Customer, "Id", "CorporateReason"))" class="form-control"></select>
                <span asp-validation-for="LoadScheduling.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.CityOriginId" class="control-label"></label>
                <select asp-for="LoadScheduling.CityOriginId" asp-items="@(new SelectList(Model.City, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="LoadScheduling.CityOriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.CityDestinyId" class="control-label"></label>
                <select asp-for="LoadScheduling.CityDestinyId" asp-items="@(new SelectList(Model.City, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="LoadScheduling.CityDestinyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.UnloadDate" class="control-label"></label>
                <input asp-for="LoadScheduling.UnloadDate" class="form-control" />
                <span asp-validation-for="LoadScheduling.UnloadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.Weigth" class="control-label"></label>
                <input asp-for="LoadScheduling.Weigth" class="form-control" />
                <span asp-validation-for="LoadScheduling.Weigth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.VlTranspor" class="control-label"></label>
                <input asp-for="LoadScheduling.VlTranspor" class="form-control" />
                <span asp-validation-for="LoadScheduling.VlTranspor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.VlContract" class="control-label"></label>
                <input asp-for="LoadScheduling.VlContract" class="form-control" />
                <span asp-validation-for="LoadScheduling.VlContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.Vladvance" class="control-label"></label>
                <input asp-for="LoadScheduling.Vladvance" class="form-control" />
                <span asp-validation-for="LoadScheduling.Vladvance" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LoadScheduling.Pay" /> @Html.DisplayNameFor(model => model.LoadScheduling.Pay)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LoadScheduling.ContractId" class="control-label"></label>
                <input asp-for="LoadScheduling.ContractId" class="form-control" />
                <span asp-validation-for="LoadScheduling.ContractId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LoadScheduling.Cte" /> @Html.DisplayNameFor(model => model.LoadScheduling.Cte)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-primary">Retornar</a>
            </div>
        </form>
    </div>
</div>