@model LogCargas.Models.ViewModels.LoadSchedulingFormViewModel

@{
    ViewData["Title"] = "Carregamento";
}

<h1>Editar</h1>
<h4>@ViewData["Title"]</h4>
<hr />

<div class="row shadow">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="LoadScheduling.Id" />
            <input type="hidden" asp-for="LoadScheduling.IncludeDate" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoadScheduling.CustomerId" class="control-label"></label>
                <select asp-for="LoadScheduling.CustomerId" asp-items="@(new SelectList(Model.Customer, "Id", "CorporateReason"))" class="form-control">
                    <option disabled selected>Selecionar...</option>
                </select>
            </div>
            <table class="col-md-12">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.CityOriginId" class="control-label"></label>
                            <select asp-for="LoadScheduling.CityOriginId" asp-items="@(new SelectList(Model.City, "Id", "Name"))" class="form-control">
                                <option disabled selected>Selecionar...</option>
                            </select>
                            <span asp-validation-for="LoadScheduling.CityOriginId" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.CityDestinyId" class="control-label"></label>
                            <select asp-for="LoadScheduling.CityDestinyId" asp-items="@(new SelectList(Model.City, "Id", "Name"))" class="form-control">
                                <option disabled selected>Selecionar...</option>
                            </select>
                            <span asp-validation-for="LoadScheduling.CityDestinyId" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="col-md-12">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.DriverId" class="control-label"></label>
                            <select asp-for="LoadScheduling.DriverId" asp-items="@(new SelectList(Model.Driver, "Id", "Name"))" class="form-control">
                                <option disabled selected>Selecionar...</option>
                            </select>
                            <span asp-validation-for="LoadScheduling.DriverId" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.UnloadDate" class="control-label"></label>
                            <input asp-for="LoadScheduling.UnloadDate" class="form-control" />
                            <span asp-validation-for="LoadScheduling.UnloadDate" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="col-md-12">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.VehicleType" class="control-label">Tipo de Frota</label>
                            <select asp-for="LoadScheduling.VehicleType" asp-items="Html.GetEnumSelectList<LogCargas.Models.Enums.VehicleType>()" class="form-control">
                                <option disabled selected>Selecionar...</option>
                            </select>
                            <span asp-validation-for="LoadScheduling.VehicleType" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.RiskManagement" class="control-label">Gerenciadora de Risco</label>
                            <select asp-for="LoadScheduling.RiskManagement" asp-items="Html.GetEnumSelectList<LogCargas.Models.Enums.RiskManagement>()" class="form-control">
                                <option disabled selected>Selecionar...</option>
                            </select>
                            <span asp-validation-for="LoadScheduling.RiskManagement" class="text-danger"></span>
                        </div>
                    </td>
            </table>
            <table class="col-md-12">
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            Monitorado
                            <input class="form-check-input" asp-for="LoadScheduling.Monitoring" /> @* @Html.DisplayNameFor(model => model.LoadScheduling.Monitoring) *@
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            Check List
                            <input class="form-check-input" asp-for="LoadScheduling.CheckList" /> @* @Html.DisplayNameFor(model => model.LoadScheduling.CheckList) *@
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            Peso de descarga (PD)
                            <input class="form-check-input" asp-for="LoadScheduling.PD" /> @* @Html.DisplayNameFor(model => model.LoadScheduling.PD) *@
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LoadScheduling.Cte" /> @Html.DisplayNameFor(model => model.LoadScheduling.Cte)
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LoadScheduling.Pay" /> @Html.DisplayNameFor(model => model.LoadScheduling.Pay)
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="LoadScheduling.Bol" /> @Html.DisplayNameFor(model => model.LoadScheduling.Bol)
                        </label>
                    </div>
                </td>
                </tr>
            </table>
            <table class="col-md-12">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.Weigth" class="control-label"></label>
                            <input asp-for="LoadScheduling.Weigth" class="form-control" />
                            <span asp-validation-for="LoadScheduling.Weigth" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.VlTranspor" class="control-label"></label>
                            <input asp-for="LoadScheduling.VlTranspor" class="form-control" />
                            <span asp-validation-for="LoadScheduling.VlTranspor" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.VlContract" class="control-label"></label>
                            <input asp-for="LoadScheduling.VlContract" class="form-control" />
                            <span asp-validation-for="LoadScheduling.VlContract" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.Vladvance" class="control-label"></label>
                            <input asp-for="LoadScheduling.Vladvance" class="form-control" />
                            <span asp-validation-for="LoadScheduling.Vladvance" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="col-md-4">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoadScheduling.ContractId" class="control-label"></label>
                            <input asp-for="LoadScheduling.ContractId" type="text" class="form-control" />
                            <span asp-validation-for="LoadScheduling.ContractId" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-primary">Retornar</a>
            </div>
            <br />
        </form>
    </div>
</div>