@model IEnumerable<LogCargas.Models.LoadScheduling>

@{
    ViewData["Title"] = "Carregamentos";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>
<nav class="navbar navbar-expand-sm bg-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Filtro</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <form class="d-flex" asp-action="SimpleSearch">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <input type="date" class="form-control-sm" name="minDate" />
                    </li>
                    <li class="nav-item">
                        <input type="date" class="form-control-sm" name="maxDate" />
                    </li>
                    <li>
                        <button class="btn btn-secondary btn-sm" type="submit">Filtrar</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<table class="table table-striped table-hover table-bordered shadow table-sm">
    <thead>
        <tr class="table-active table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Bol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityDestiny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnloadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskManagement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitoring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weigth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlTranspor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vladvance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CorporateReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityOrigin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityDestiny.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnloadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RiskManagement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monitoring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weigth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlTranspor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vladvance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cte)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="badge bg-secondary">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="badge bg-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="badge bg-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
